{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h4>{{ company.name }}</h4>
                </div>
                <div class="col-sm-6 hidden-xs text-right">
                    <ol class="breadcrumb">
                        <li><a href="{% url 'home' %}">{% trans "HOME" %}</a></li>
                        <li>{% trans "FLINTERS" %}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs-->
    <div class="divide40"></div>
    <div class="container">
        <div class="row" style="text-align:center;">
            <div class="center-heading">
                <h2>{% trans "ABOUT ME" %}</h2>
                <span class="center-line"></span>
            </div>
            <div class="col-md-12">
                {% if logo_url != '' %}
                    <img src="{{logo_url}}" style="height:300px"/>
                    <div class="divide20"></div>
                {% endif %}
                <h5>{{ company.slogan }}</h5>
                <h5>{{ company.address }}</h5>
                <p>{{ company.description|safe }}</p>
             </div>
        </div>
       
        <!-- {% if youtube_url != '' %}
            <div class="row">
                <div class="col-md-12">
                    <div class="center-heading">
                        <h2>{% trans "What I do as a Flinter:" %}</h2>
                        <span class="center-line"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="js-video  widescreen">
                    <iframe width="1170" height="684" src="{{ youtube_url }}">
                    </iframe>
                </div>
            </div>
        {% endif %} -->
        {% if products %}
            <div class="divide60"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="center-heading">
                        <h2>{% trans "My Latest Thoughts" %}</h2>
                        <span class="center-line"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="portfolio-cube">

                    {% include "product_list.html" %}
                </div>
            </div>
        {% endif %}
    </div>
    <div class="divide60"></div>
    {% include "contact.html" %}
    <div class="divide60"></div>
{% endblock %}

{% block js %}
    <script src="/static/js/contact_me.js"></script>
{% endblock %}

