{% load i18n %}
<div class="container">
    <div class="row">
        <div class="col-md-8 margin30">
            <h3 class="heading">{% trans "Want to collaborate or work together? Drop A Message!" %}</h3>

            <div class="form-contact">
                <div class="required">
                    <p>( <span>*</span> {% trans "fields are required" %} )</p>
                </div>

                <form name="sentMessage" action='{% url "contact-add" %}' id="contactForm" method="post" novalidate="">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row control-group">
                                <div class="form-group col-xs-12 controls">
                                    <label>{% trans "Name" %}<span>*</span></label>
                                    <input type="text" class="form-control" placeholder={% trans "Name" %} id="id_sender"
                                           name="sender" required=""
                                           data-validation-required-message="Please enter your name.">

                                    <p class="help-block"></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row control-group">
                                <div class="form-group col-xs-12 controls">
                                    <label>{% trans "Email Address" %}<span>*</span></label>
                                    <input type="email" class="form-control" placeholder={% trans "Email Address" %} id="id_email"
                                           name="email" required=""
                                           data-validation-required-message="Please enter your email address.">

                                    <p class="help-block"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12  controls">
                            <label>{% trans "Phone Number" %}<span>*</span></label>
                            <input type="tel" class="form-control" placeholder={% trans "Phone Number" %} id="id_mobile"
                                   name="mobile" required=""
                                   data-validation-required-message="Please enter your phone number.">

                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12  controls">
                            <label>{% trans "Title" %}<span>*</span></label>
                            <input type="text" class="form-control" placeholder={% trans "Title" %} id="id_title" name="title"
                                   required="" data-validation-required-message="Please enter a title.">

                            <p class="help-block"></p>
                        </div>
                    </div>
                    <input type="hidden" value="{{ company.id }}" id="company_id"/>

                    <div class="row control-group">
                        <div class="form-group col-xs-12 controls">
                            <label>{% trans "Message" %}<span>*</span></label>
                            <textarea rows="5" class="form-control" placeholder={% trans "Message" %} id="id_content" name="content"
                                      required="" data-validation-required-message="Please enter a message."></textarea>

                            <p class="help-block"></p>
                        </div>
                    </div>
                    <br>

                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-theme-bg btn-lg">{% trans "Send Message" %}</button>
                        </div>
                    </div>
                </form>

            </div>
            <!--contact form-->
        </div>
        <div class="col-md-4">
            <h3 class="heading">{% trans "Contact info" %}</h3>
            <ul class="list-unstyled contact contact-info">

                <li><p><strong><i class="fa fa-map-marker"></i></strong> <span style="margin-left: 5px;">{{ company.address }}</span>
                </p></li>
                <li><p><strong><i class="fa fa-envelope"></i></strong> <a
                        href="mailto:{{ company.email }}">{{ company.email }}</a></p></li>
                <li><p><strong><i class="fa fa-phone"></i> </strong> {{ company.tel }}</p></li>
                {% if company.tel_opt != "" %}
                    <li><p><strong><i class="fa fa-phone"></i> </strong> {{ company.tel_opt }}</p></li>
                {% endif %}
                {% if company.open_from and company.open_to %}
                    <li><p><strong><i class="fa fa-info-circle"></i> </strong>
                        {{ company.open_from }} to {{ company.open_to }}</p></li>
                {% endif %}
                {% if company.fax != "" %}
                    <li><p><strong><i class="fa fa-print"></i></strong> {{ company.fax }}</p></li>
                {% endif %}
            </ul>
            <div class="divide40"></div>
            <h3 class="heading">{% trans "Feel Free to Download" %}</h3>
            <ul class="list-unstyled">
                {% for pdf, name in pdf_urls %}
                    <li style="margin-bottom: 5px;">
                        <strong><i class="fa fa-download" style="color:#00afef;"></i> </strong>
                        <a href="{{ pdf }}" style="text-decoration: underline;color:#00afef;">{{ name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <!--<h4>Get social</h4>-->
            <!--<ul class="list-inline social-1">-->
            <!--<li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
            <!--<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
            <!--<li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
            <!--<li><a href="#"><i class="fa fa-pinterest"></i></a></li>-->
            <!--<li><a href="#"><i class="fa fa-dribbble"></i></a></li>-->
            <!--</ul>-->
        </div>
    </div>
</div>

