{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h4>{% trans "JOIN US" %}</h4>
                </div>
                <div class="col-sm-6 hidden-xs text-right">
                    <ol class="breadcrumb">
                        <li><a href='{% url "home" %}'>{% trans "HOME" %}</a></li>
                        <li>{% trans "JOIN US" %}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="divide80"></div>
    <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="center-heading">
                        <h2>{% trans "JOIN US" %}</h2>
                        <span class="center-line"></span>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="class="col-md-12">
                    <img src="/static/img/join_us.jpg" width="100%" height="100%">
                </div>
            </div>
        <div class="row">
            <div >
                <div class="row">
                    <div class="col-md-12">
                        <div class="center-heading" style="text-align: left;">

                            <p>
                                We know that pursuing your passions or dream career on your own can become lonely and discouraging. The struggles, triumphs and challenges, can sometimes feel so real and overwhelming that you might want to share it with people who understand or have been there before in order to feel a sense of support and belonging, to be a part of a tribe that cares.
                            </p>

                            <p>
                                This is who we are.
                            </p>

                            <p>
                                At Flinter, we not only want to create a safe space for all kinds of hustlers (solopreneurs, entrepreneurs, passion project starters, career go-getters), but a strong space to imbue courage as well as comfort for you hustlers when the going gets tough.
                            </p>

                            <p>
                                At Flinter, you can look forward to:
                            </p>

                            <p> <b>Showcasing your expertise</b></p>

                            <p>
                                Take to Flinter to share your burning thoughts or showcase what you’ve been doing, what you’re good at, or even out-of-the-blue topics that you might want some feedback from. It’s about time you get that recognition!
                            </p>

                            <p> <b>Staying on top of new opportunities</b></p>

                            <p>
                                When you’re on Flinter and have established good content by displaying your potential, you’ll get opportunities to collaborate. Start a new baby project, brainstorm, have discussions. This is all so exciting!
                            </p>

                            <p> <b>Being supported by our Community</b></p>

                            <p>
                                It can be tough to start out on your own. In Flinter, our community provides like-minded support, people who have been through what you have, so you never have to face challenges alone. 
                            </p>
                            <p>
                                We provide more emphasis on growth and learning, not simply focusing on performance. Our collaborative community is here to give you the resources you need to build your business or career in the direction that you are passionate about. We are here to be a source of questions when defining the edge of your capabilities, as well as advice when seeking a solid understanding of your identity. We celebrate when two or more Flinters birth new collaborative projects or many have found new income opportunities because of this Community. 
                            </p>

                            <p>
                                We aspire to help career hustlers to enjoy their pursuit of what drives them and be the springboard for new friendships, new collaborations and
new joys in being a Career Hustler.
                            </p>
                            <p>
                                And the most awesome part about it is that it only costs $29.90SGD to join Flinter!
                            </p>
                            <p>
                                Want to be part of our Flinter Tribe today?
                            </p>
                            <p>
                                1. Submit your payment of $29.90SGD via PayNow to:
                            </p>
                            <p>
                                Bank Name: United Overseas Bank <br>
                                Account Name: Rice Consultancy Pte ltd <br>
                                Account Number: 355-310-827-4 <br>
                                Company. Registration No / PayNow: UEN 201421544W <br>
                                Or scan the below QR code for your $9.90SGD payment: <br>
                            </p>

                            <img src="/static/img/qrcode.jpeg" width="200" height="200" />

                            <p>
                                <b>SPECIAL PROMO</b>: To show our support for all who are going through during this COVID-19 period, we are offering Complimentary Access to join Flinter, no fees required! Join today by submitting the below form and kindly put "NA" under Payment Reference No. We are waiting for you!
                            </p>
                        </div>
                    </div>
                </div>
                <!--center heading row-->
                <div class="row margin40">


                </div>
                <p class="margin30">
                    {% trans "We are waiting for you!" %}
                </p>

                <form name="sentMessage" action='{% url "kick-start" %}' id="contactForm" method="post" novalidate="">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row control-group">
                                <div class="form-group col-xs-12 controls">
                                    <label>{% trans "Name" %}<span>*</span></label>
                                    {{ form.name }}
                                    {% if form.name.errors %}
                                        <p class="help-block">{{ form.name.errors.0 }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row control-group">
                                <div class="form-group col-xs-12 controls">
                                    <label>{% trans "Payment Reference No." %}<span>*</span></label>
                                    {{ form.company }}
                                    {% if form.company.errors %}
                                        <p class="help-block">{{ form.company.errors.0 }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row control-group">
                                <div class="form-group col-xs-12 controls">
                                    <label>{% trans "Email Address" %}<span>*</span></label>
                                    {{ form.email }}
                                    {% if form.email.errors %}
                                        <p class="help-block">{{ form.email.errors.0 }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row control-group">
                                <div class="form-group col-xs-12  controls">
                                    <label>{% trans "Phone Number" %}<span>*</span></label>
                                    {{ form.mobile }}
                                    {% if form.mobile.errors %}
                                        <p class="help-block">{{ form.mobile.errors.0 }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row control-group">
                                <div class="form-group col-xs-12  controls">
                                    <label>{% trans "Your Enquiry is about:" %}<span>*</span></label>
                                    {{ form.region }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 controls">
                            <label>{% trans "Remarks" %}</label>
                            {{ form.remarks }}
                            {% if form.remarks.errors %}
                                <p class="help-block">{{ form.remarks.errors.0 }}</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-theme-bg btn-lg">{% trans "Send Message" %}</button>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
    <div class="divide80"></div>
{% endblock %}
