{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h4>{% trans "JOIN US" %}</h4>
                </div>
                <div class="col-sm-6 hidden-xs text-right">
                    <ol class="breadcrumb">
                        <li><a href='{% url "home" %}'>{% trans "HOME" %}</a></li>
                        <li>{% trans "JOIN US" %}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="divide80"></div>
    <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="center-heading">
                        <h2>{% trans "JOIN US" %}</h2>
                        <span class="center-line"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <img src="/static/img/join_us.jpg" width="1170" height="684">
            </div>
        <div class="row">
            <div >
                <div class="row">
                    <div class="col-md-12">
                        <div class="center-heading" style="text-align: left;">

                            <p>
                                We know that pursuing your passions or dream career on your own can become lonely and discouraging. The struggles, triumphs and challenges,
can sometimes feel so real and overwhelming that you might want to share it with people who understand or have been there before in order to feel
a sense of support and belonging, to be a part of a tribe that cares.
                            </p>

                            <p>
                                This is who we are.
                            </p>

                            <p>
                                At Flinter, we not only want to create a safe space for all kinds of hustlers (solopreneurs, entrepreneurs, passion project starters, career go-getters),
but a strong space to imbue courage as well as comfort for you hustlers when the going gets tough.
                            </p>

                            <p>
                                We provide more emphasis on growth and learning, not simply focusing on performance. Our collaborative community is here to give you the
resources you need to build your business or career in the direction that you are passionate about. We are here to be a source of questions when
defining the edge of your capabilities, as well as advice when seeking a solid understanding of your identity. We celebrate when two or more Flinters
birth new collaborative projects and create something exquisite that the world needs.
                            </p>

                            <p>
                                We aspire to help career hustlers to enjoy their pursuit of what drives them and be the springboard for new friendships, new collaborations and
new joys in being a Career Hustler.
                            </p>
                            <p>
                                And the most awesome part about it, is that it only costs $9.90SGD (U.P $29.90) for a lifetime membership with Flinter!
                            </p>
                            <p>
                                Want to be part of our Flinter Tribe today?
                            </p>
                            <p>
                                1. Submit your lifetime membership payment of $9.90SGD via PayNow to:
                            </p>
                            <p>
                                    Bank Name: DBS Bank <br>
                                    Account Name: TRUE LIGHT LLP <br>
                                    Account Number: 0059045929 <br>
                                    Company. Registration No.: T18LL1108L <br>
                                    Or scan the below QR code for your $9.90SGD payment: <br>
                            </p>

                            <img src="/static/img/qrcode.jpeg" width="200" height="200" />
                        </div>
                    </div>
                </div>
                <!--center heading row-->
                <div class="row margin40">


                </div>
                <p class="margin30">
                    {% trans "We are waiting for you!" %}
                </p>

                <form name="sentMessage" action='{% url "kick-start" %}' id="contactForm" method="post" novalidate="">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row control-group">
                                <div class="form-group col-xs-12 controls">
                                    <label>{% trans "Name" %}<span>*</span></label>
                                    {{ form.name }}
                                    {% if form.name.errors %}
                                        <p class="help-block">{{ form.name.errors.0 }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row control-group">
                                <div class="form-group col-xs-12 controls">
                                    <label>{% trans "Payment Reference No." %}<span>*</span></label>
                                    {{ form.company }}
                                    {% if form.company.errors %}
                                        <p class="help-block">{{ form.company.errors.0 }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row control-group">
                                <div class="form-group col-xs-12 controls">
                                    <label>{% trans "Email Address" %}<span>*</span></label>
                                    {{ form.email }}
                                    {% if form.email.errors %}
                                        <p class="help-block">{{ form.email.errors.0 }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row control-group">
                                <div class="form-group col-xs-12  controls">
                                    <label>{% trans "Phone Number" %}<span>*</span></label>
                                    {{ form.mobile }}
                                    {% if form.mobile.errors %}
                                        <p class="help-block">{{ form.mobile.errors.0 }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row control-group">
                                <div class="form-group col-xs-12  controls">
                                    <label>{% trans "Your Enquiry is about:" %}<span>*</span></label>
                                    {{ form.region }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 controls">
                            <label>{% trans "Remarks" %}</label>
                            {{ form.remarks }}
                            {% if form.remarks.errors %}
                                <p class="help-block">{{ form.remarks.errors.0 }}</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-theme-bg btn-lg">{% trans "Send Message" %}</button>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
    <div class="divide80"></div>
{% endblock %}
