{% load i18n %}
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 margin30">
                <div class="footer-col">
                    <h3>{% trans "About Rice Global" %}</h3>

                    <p style="color:#ffffff">
                        {% trans "RICE Global is a streamlined and complete platform that helps you engage your clients and market your products and services more effectively in four major areas: marketing consultation, content creation and management, exposure, leads generation and analysis. " %}

                    <p>

                    <p style="color:#ffffff">
                        {% trans "With local offices strategically positioned over the world and a team of highly experienced consultants, RICE Global is the key to get your business selling in new foreign markets. " %}
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-8 margin30">
                <div class="footer-col">
                    <h3>{% trans "Contact" %}</h3>
                    <ul class="list-unstyled contact">
                        <li>
                            <p style="color:#ffffff"><strong><i class="fa fa-map-marker"></i></strong> <span style="margin-left: 3px;">Novelty Bizcentre
                                18 Howard Road #08-11 Singapore 369585</span></p>
                        </li>
                        <li>
                            <p style="color:#ffffff"><strong><i class="fa fa-envelope"></i></strong> <a
                                    href="mailto:enquiries@riceglobal.com.sg">enquiries@riceglobal.com.sg</a></p>
                        </li>
                        <li>
                            <p style="color:#ffffff"><strong><i class="fa fa-phone"></i> </strong> +65 6702 3368</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="footer-btm">
                <span>&copy;2015. Rice Global</span>
            </div>
        </div>
    </div>

</footer>
