<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-8 margin30">
        <div class="footer-col">
          <h3>{% trans "About Rice Global" %}</h3>
          <p>
          {% trans "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie." %}
          </p>
          <!-- <ul class="list-inline social-1">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul> -->
        </div>
      </div>
      <!--footer col-->
      <div class="col-md-4 col-sm-8 margin30">
        <div class="footer-col">
          <h3>{% trans "Featured Work" %}</h3>
          <ul class="list-inline f2-work">
            <li><a href="portfolio-single.html"><img src="/static/img/img-1.jpg" class="img-responsive" alt=""></a></li>
            <li><a href="portfolio-single.html"><img src="/static/img/img-2.jpg" class="img-responsive" alt=""></a></li>
            <li><a href="portfolio-single.html"><img src="/static/img/img-3.jpg" class="img-responsive" alt=""></a></li>
            <li><a href="portfolio-single.html"><img src="/static/img/img-4.jpg" class="img-responsive" alt=""></a></li>
            <li><a href="portfolio-single.html"><img src="/static/img/img-5.jpg" class="img-responsive" alt=""></a></li>
            <li><a href="portfolio-single.html"><img src="/static/img/img-6.jpg" class="img-responsive" alt=""></a></li>
            <li><a href="portfolio-single.html"><img src="/static/img/img-7.jpg" class="img-responsive" alt=""></a></li>
            <li><a href="portfolio-single.html"><img src="/static/img/img-8.jpg" class="img-responsive" alt=""></a></li>
            <li><a href="portfolio-single.html"><img src="/static/img/img-9.jpg" class="img-responsive" alt=""></a></li>
            <li><a href="portfolio-single.html"><img src="/static/img/img-7.jpg" class="img-responsive" alt=""></a></li>
            <li><a href="portfolio-single.html"><img src="/static/img/img-8.jpg" class="img-responsive" alt=""></a></li>
            <li><a href="portfolio-single.html"><img src="/static/img/img-9.jpg" class="img-responsive" alt=""></a></li>
          </ul>
        </div>
      </div>
      <!--footer col-->
      <div class="col-md-4 col-sm-8 margin30">
        <div class="footer-col">
          <h3>{% trans "Contact" %}</h3>
          <ul class="list-unstyled contact">
            <li>
            <p><strong><i class="fa fa-map-marker"></i> {% trans "Address:" %}</strong> {% trans "Singapore" %}</p>
            </li>
            <li>
            <p><strong><i class="fa fa-envelope"></i>{% trans "Mail Us:" %}</strong> <a href="mailto:support@riceglobal.com">support@riceglobal.com</a></p>
            </li>
            <li>
            <p><strong><i class="fa fa-phone"></i> {% trans "Phone:" %}</strong> +65 8292 8237</p>
            </li>
            <li>
            <p><strong><i class="fa fa-print"></i> {% trans "Fax:" %}</strong> 1800 1800 1800</p>
            </li>
            <li>
            <p><strong><i class="fa fa-skype"></i> {% trans "Skype" %}</strong> support.riceglobal</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="footer-btm">
          <span>&copy;2015. Rice Global</span>
        </div>
      </div>
    </div>
  </div>
</footer>
