{% load i18n %}
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 margin30">
                <div class="footer-col">
                    <h3>{% trans "About Rice Global" %}</h3>

                    <p style="color:#ffffff">
                        {% trans "RICE Global is a streamlined and complete approach to engaging local and global audiences in a simple-to-use platform. With offices established in Singapore, China, and Indonesia, we know exactly how to allow your business to penetrate into the global markets." %}

                    <p>

                    <p style="color:#ffffff">
                        {% trans "Together with our highly experienced consultants and creative team, we provide clients with fuss-free holistic solution - from marketing consultation, to content creation and management, to exposure and lead generation and analysis. " %}
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-8 margin30">
                <div class="footer-col">
                    <h3>{% trans "Contact" %}</h3>
                    <ul class="list-unstyled contact">
                        <li>
                            <p style="color:#ffffff"><strong><i class="fa fa-map-marker"></i></strong> <span style="margin-left: 3px;">Novelty Bizcentre
                                18 Howard road #08-01 Singapore 369585</span></p>
                        </li>
                        <li>
                            <p style="color:#ffffff"><strong><i class="fa fa-envelope"></i></strong> <a
                                    href="mailto:enquiries@riceglobal.com.sg">enquiries@riceglobal.com.sg</a></p>
                        </li>
                        <li>
                            <p style="color:#ffffff"><strong><i class="fa fa-phone"></i> </strong> +65 6702 3368</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="footer-btm">
                <span>&copy;2015. Rice Global</span>
            </div>
        </div>
    </div>

</footer>
