<div class="navbar navbar-default navbar-static-top yamm sticky" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html"><img src="img/logo.png" alt="Rice Global"></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown active ">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home </a>
        </li>
        <!--menu home li end here-->
        <li class="dropdown">
        <a href="#" class="dropdown-toggle " data-toggle="dropdown">Corporates </a>
        </li>
        <!--menu Portfolio li end here-->
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products </a>
        </li>
        <!--menu blog li end here-->
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact </a>
        </li>
        <li class="dropdown">
        <div class="pull-right">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="search...">
              <button type="button"><i class="fa fa-search"></i></button>
            </div>
            <!--input group-->
          </form>
          <!--form-->
        </div>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
  <!--container-->
</div>
