{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<div class="navbar navbar-default navbar-static-top yamm sticky" role="navigation">
    <div class="container" style="margin-top: 15px;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}"><img src="/static/img/logo.png" alt="Flinter"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li {% ifequal 'index' url_path %} class="active" {% endifequal %}>
                    <a href="{% url 'home' %}">{% trans "HOME" %} </a>
                </li>
                <li {% ifequal 'business' url_path %} class="active" {% endifequal %}>
                    <a href="{% url 'company-list' %}">{% trans "Flinters" %} </a>
                </li>
                <li {% ifequal 'product' url_path %} class="active" {% endifequal %}>
                    <a href="{% url 'product-list' %}">{% trans "Thoughts" %} </a>
                </li>
                <li {% ifequal 'price' url_path %} class="active" {% endifequal %}>
                    <a href="{% url 'price-detail' %}">{% trans "Why Join" %} </a>
                </li>
                <li>
                    <a target="_blank" href="http://www.brandmestory.com/">{% trans "Brand Yourself" %} </a>
                </li>
                <!-- <li {% ifequal 'join' url_path %} class="active" {% endifequal %}>
                    <a href="{% url 'kick-start' %}">{% trans "JOIN US" %} </a>
                </li>
                <li {% ifequal 'support' url_path %} class="active" {% endifequal %}>
                    <a href="{% url 'support' %}">{% trans "SUPPORT" %} </a>
                </li> -->
                <li>
                    <div class="pull-right">
                        <form action='{% url "search" %}' method="post" novalidate="">
                            {% csrf_token %}
                            <div class="form-group">
                                <input name="keyword" type="text" class="form-control"
                                       placeholder="{% trans 'search...' %}" id="id_keyword">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                </li>

                <!-- <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{% trans "Languages" %} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% if LANGUAGE_CODE == 'en' %}
                            <li><a class="lang_active" href="{{ request.get_full_path }}">English</a></li>
                            <li><a href="/zh{{ request.get_full_path }}">中文</a></li>
                        {% else %}
                            <li><a href="{{ request.get_full_path|slice:'3:'}}">English</a></li>
                            <li><a class="lang_active" href="{{ request.get_full_path }}">中文</a></li>
                        {% endif %}
                    </ul>
                </li> -->

            </ul>
        </div>

        <!--/.nav-collapse -->
    </div>
    <!--container-->
</div>
