<div class="navbar navbar-default navbar-static-top yamm sticky" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="/static/img/logo.png" alt="Rice Global"></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li {% ifequal 'index' url_path %} class="active" {%endifequal%}>
        <a href="{% url 'home' %}" >Home </a>
        </li>
        <!--menu home li end here-->
        <li {% ifequal 'business' url_path %} class="active" {%endifequal%}>
        <a href="{% url 'company-list' %}" >Corporates </a>
        </li>
        <!--menu Portfolio li end here-->
        <li {% ifequal 'product' url_path %} class="active" {%endifequal%}>
        <a href="{% url 'product-list' %}" >Products </a>
        </li>
        <li>
        <div class="pull-right">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="search...">
              <button type="button"><i class="fa fa-search"></i></button>
            </div>
            <!--input group-->
          </form>
          <!--form-->
        </div>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
  <!--container-->
</div>
