{% extends "base.html" %}
{% block content %}
<article>
         <div>
            <div class="tp-banner-vertical" >
               <ul>
                  <!-- SLIDE  -->
                  <li data-transition="slidevertical" data-slotamount="1" data-masterspeed="1000" data-thumb="img/bg-3.jpg"  data-saveperformance="off"  data-title="Slide">
                     <!-- MAIN IMAGE -->
                     <img src="img/bg-3.jpg"  alt="fullslide1"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                     <!-- LAYERS -->
                     <!-- LAYER NR. 1 -->
                     <div class="tp-caption vertical-title lfb ltt tp-resizeme"
                        data-x="left" data-hoffset="100"
                        data-y="center" data-voffset="-70"
                        data-speed="600"
                        data-start="800"
                        data-easing="Power4.easeOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="500"
                        data-endeasing="Power4.easeIn"
                        >Feature One
                     </div>
                     <!-- LAYER NR. 2 -->
                     <div class="tp-caption vertical-caption lfb ltt tp-resizeme"
                        data-x="left" data-hoffset="100"
                        data-y="center" data-voffset="20"
                        data-speed="600"
                        data-start="900"
                        data-easing="Power4.easeOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="500"
                        data-endeasing="Power4.easeIn"
                        >Nullam vulputate lorem ut leo. Sed volutpat.<br> Etiam non pede. Nullam et mauris.
                     </div>
                     <!-- LAYER NR. 3 -->
                     <div class="tp-caption rev-buttons lfb ltt tp-resizeme"
                        data-x="left" data-hoffset="100"
                        data-y="center" data-voffset="110"
                        data-speed="600"
                        data-start="900"
                        data-easing="Power4.easeOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="500"
                        data-endeasing="Power4.easeIn"
                        ><a href="#" class="btn btn-lg border-white">Learn more</a>
                     </div>
                  </li>
                  <!-- SLIDE  -->
                  <li data-transition="slidevertical" data-slotamount="1" data-masterspeed="1000" data-thumb="img/bg-4.jpg"  data-saveperformance="off"  data-title="Slide">
                     <!-- MAIN IMAGE -->
                     <img src="img/bg-4.jpg"  alt="fullslide1"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                     <!-- LAYERS -->
                     <!-- LAYER NR. 1 -->
                     <div class="tp-caption vertical-title lfb ltt tp-resizeme"
                        data-x="left" data-hoffset="100"
                        data-y="center" data-voffset="-70"
                        data-speed="600"
                        data-start="800"
                        data-easing="Power4.easeOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="500"
                        data-endeasing="Power4.easeIn"
                        >Feature Two
                     </div>
                     <!-- LAYER NR. 2 -->
                     <div class="tp-caption vertical-caption lfb ltt tp-resizeme"
                        data-x="left" data-hoffset="100"
                        data-y="center" data-voffset="20"
                        data-speed="600"
                        data-start="900"
                        data-easing="Power4.easeOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="500"
                        data-endeasing="Power4.easeIn"
                        >Nullam vulputate lorem ut leo. Sed volutpat.<br> Etiam non pede. Nullam et mauris.
                     </div>
                     <!-- LAYER NR. 3 -->
                     <div class="tp-caption rev-buttons lfb ltt tp-resizeme"
                        data-x="left" data-hoffset="100"
                        data-y="center" data-voffset="110"
                        data-speed="600"
                        data-start="900"
                        data-easing="Power4.easeOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="500"
                        data-endeasing="Power4.easeIn"
                        ><a href="#" class="btn btn-lg border-white">Learn more</a>
                     </div>
                  </li>
               </ul>
               <div class="tp-bannertimer"></div>
            </div>
         </div>
      </article>
      <!--revolution vertical slider end-->
      <div class="intro-text-1">
         <div class="container">
            <div class="row">
               <div class="col-sm-8">
                  <h4 class="animated slideInDown">Want to work with Rice Global
                  </h4>
                  <p>
                     Set up your own business website!
                  </p>
               </div>
               <div class="col-sm-4">
                  <a href="#" class="btn btn-theme-bg btn-lg">Contact now</a>
               </div>
            </div>
         </div>
      </div>
      <!--quote text end-->
      <div class="divide70"></div>
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="center-heading">
                  <h2>Popular Corporate</h2>
                  <span class="center-line"></span>
               </div>
            </div>
         </div>
         {% include "company_list.html" %} 
       </div>
      <!--.container-->
      <div class="divide70"></div>
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="center-heading">
                  <h2>latest Corporate</h2>
                  <span class="center-line"></span>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-4 margin30">
               <div>
                  <a href="#">
                     <div class="item-img-wrap">
                        <img src="img/img-3.jpg" class="img-responsive" alt="workimg">
                        <div class="item-img-overlay">
                           <span></span>
                        </div>
                     </div>
                  </a>
                  <!--news link--> 
                  <div class="news-desc">
                     <span>Sports</span>
                     <h4><a href="#">Lorem ipsum dollor Sit amet</a></h4>
                     <span>By <a href="#">Author</a> on 24 july 2014</span> <span><a href="#">Read more...</a></span>
                  </div>
                  <!--news desc-->
               </div>
            </div>
            <!--news col-->
            <div class="col-sm-4 margin30">
               <div>
                  <a href="#">
                     <div class="item-img-wrap">
                        <img src="img/img-2.jpg" class="img-responsive" alt="workimg">
                        <div class="item-img-overlay">
                           <span></span>
                        </div>
                     </div>
                  </a>
                  <!--news link--> 
                  <div class="news-desc">
                     <span>Sports</span>
                     <h4><a href="#">Lorem ipsum dollor Sit amet</a></h4>
                     <span>By <a href="#">Author</a> on 24 july 2014</span> <span><a href="#">Read more...</a></span>
                  </div>
                  <!--news desc-->
               </div>
            </div>
            <!--news col-->
            <div class="col-sm-4 margin30">
               <div>
                  <a href="#">
                     <div class="item-img-wrap">
                        <img src="img/img-1.jpg" class="img-responsive" alt="workimg">
                        <div class="item-img-overlay">
                           <span></span>
                        </div>
                     </div>
                  </a>
                  <!--news link--> 
                  <div class="news-desc">
                     <span>Sports</span>
                     <h4><a href="#">Lorem ipsum dollor Sit amet</a></h4>
                     <span>By <a href="#">Author</a> on 24 july 2014</span> <span><a href="#">Read more...</a></span>
                  </div>
                  <!--news desc-->
               </div>
            </div>
            <!--news col-->
         </div>
      </div>
      <!--latest news-->
      <div class="divide40"></div>
{% endblock %}
