{% extends "base.html" %}
{% load i18n %}
{% block content %}
{% include "slider.html" %}
<!--quote text end-->
<div class="divide70"></div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="center-heading">
        <h2>{% trans "LATEST FLINTERS" %}</h2>
        <span class="center-line"></span>
      </div>
    </div>
  </div>
  <div class="portfolio-cube">
    {% include "company_list.html" %} 
  </div>
</div>
<!--.container-->
<div class="divide70"></div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="center-heading">
        <h2>{% trans "What the Flinters are thinking..." %}</h2>
        <span class="center-line"></span>
      </div>
    </div>
  </div>
  <div class="row">
    {% for product in latest %}
    <div class="col-sm-4 margin30">
      <div>
        <a href="{% url 'product-detail' product.id %}">
          <div class="item-img-wrap">
            <img src={{product.cover_image}} class="img-responsive" alt="workimg" style="width:370px; height:214px">
            <div class="item-img-overlay">
              <span></span>
            </div>
          </div>
        </a>
        <!--news link--> 
        <div class="news-desc">
          <span>{{product.name}}</span>
          <span style="float: left;"> <a href="{% url 'company-detail' product.company_id%}">{{product.company_name}}</a>on {{product.create_date}}</span> <span><a href="{% url 'product-detail' product.id%}">Read more...</a></span>
        </div>
        <!--news desc-->
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>
<!--latest news-->
<div class="divide40"></div>
{% endblock %}

