{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h4>{% trans "FEATURES" %}</h4>
                </div>
                <div class="col-sm-6 hidden-xs text-right">
                    <ol class="breadcrumb">
                        <li><a href='{% url "home" %}'>{% trans "HOME" %}</a></li>
                        <li>{% trans "FEATURES" %}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="divide20"></div>
    <div class="">
        <div class="row">
            <div class="col-sm-12 feature-block" >
                <div class="feature-bg-1">
                    <div class="feature-words-1">
                    <h3>{% trans "What Is Flinter?" %}</h3>
                    <p>
                        {% trans "In our rapidly-changing world where old norms are constantly succeeded by new ones, we need to be collaborating and not competing. Focusing on growing together and learning from transformed mindsets to find support from each others’ pursuit of career happiness. We bring people together to creative a collective platform for those with an intention of taking charge of their Careers and living it to fullest." %}
                    </p>
                    <p>
                        {% trans "With Flinter, we hope to introduce a new dimension to what you can call a Career — A dimension of hope, passion, and connection." %}
                    </p>
                </div>
                </div>

            </div>
            <div class="col-sm-12 feature-block" style="background: #f5f5f5;">
                <div class="feature-bg-2">
                    <div class="feature-words-2">
                    <h3>{% trans "Why Join as a Flinter?" %}</h3>
                    <p>
                        {% trans "No man is a lone island. When it comes to pursuing your passion projects or taking the road less travelled with an unusual career path or simply wanting to give your career journey a motivational facelift, why not run with the pack who are just as like-minded? - Driven, Passionate, Committed and Focused." %}
                    </p>
                    <p>
                        {% trans "Enjoy being part of a collaborative community who are keen to learn and grow as you pursue your individual careers, and expand your career network to create new collaborative opportunities" %}
                    </p>
                </div>
                </div>

            </div>
            <div class="col-sm-12 feature-block"  style="background: #00afe2; ">
                <div class="feature-bg-3">
                    <div class="feature-words-3">
                    <h3>{% trans "Benefits of a Flinter" %}</h3>
                    <p>
                        {% trans "As a Flinter, you can look forward to enjoying the following benefits as part of our collaborative community" %}
                    </p>
                </div>
                </div>

            </div>
            <div class="col-sm-12 feature-block" >
                <div class="feature-bg-4">
                    <div class="feature-words-4" >
                    <h3 style="color: #f5f5f5;">{% trans "Build a Quality Business Network" %}</h3>
                    <p style="color: #f5f5f5;">
                        {% trans "The old truth never fails; our network is our net worth. Surround yourselves with people who are sharing experiences to enhance and support your unique career journeys. Maybe even find a friend along the way to create new collaborative opportunities together!" %}
                    </p>
                </div>
                </div>

            </div>
            <div class="col-sm-12 feature-block" >
                <div class="feature-bg-5">
                    <div class="feature-words-5">
                    <h3>{% trans "Participate in co-learning events and workshops" %}</h3>
                    <p>
                        {% trans "The more the merrier when it comes to learning and developing skills! Enjoy interesting events and workshops to co-learn with fellow Flinters as well as pursue information from those who are already enjoying a fruitful career." %}
                    </p>
                </div>
                </div>

            </div>

            <div class="col-sm-12 feature-block" >
                <div class="feature-bg-6">
                    <div class="feature-words-6">
                    <h3>{% trans "Showcase your Career to the Flinter Community" %}</h3>
                    <p>
                        {% trans "Imagine being in a community where people seek you out for your skills and services because of your credibility and their recognition of you. Receive a Flinter Page dedicated to showcasing who you are and how “Flinter” you are. Share your passion projects or businesses and take to the blog whenever you need to shoutout about how you are feeling today or what your thoughts are." %}
                    </p>
                </div>
                </div>

            </div>
            <div class="col-sm-12 feature-block" >
                <div class="feature-bg-7">
                    <div class="feature-words-7">
                    <h3>{% trans "An enquiry form for your services or collaborative opportunities" %}</h3>
                    <p>
                        {% trans "Connect with those who are seeking you out by having a dedicated, personalised enquiry form in your arsenal. Receive questions and opportunities anytime, anywhere on Flinter. Minimise the process, double the opportunities!" %}
                    </p>
                </div>
                </div>

            </div>
            <div class="col-sm-12 feature-block" style="background: #f5f5f5;">
                <div class="feature-bg-8">
                    <div class="feature-words-8">
                        <h3>{% trans "Online User Access" %}</h3>
                        <p>
                            {% trans "Have a seamless experience in managing your personal Flinter page via our trusted system. Feel free to edit it and track all your incoming enquiries no matter what time of the day it is. Your user access is at your fingertips, modifying your personal page has never been so easy." %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 feature-block" >
                <div class="feature-bg-9">
                    <div class="feature-words-9">
                        <h3>{% trans "Get special discounts from our Partners" %}</h3>
                        <p>
                            {% trans "As a Flinter, you are important to us. Procure exclusive privileges from co-working spaces, space rentals for workshops or talks, all the way to a suite of personal branding services to make you stand out in the market. Enjoy premium discounts as part of our community’s perks." %}
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-sm-12 feature-block"  >
                <div class="feature-bg-10">
                    <div class="feature-words-10" >
                        <h3>{% trans "Enjoy career exposure from Flinter’s marketing efforts to showcase various Flinters" %}</h3>
                        <p>
                            {% trans "Keen to give talks or want a platform to market your products or services? Integrate your offerings into our monthly marketing efforts. We provide you with complimentary marketing exposure because that’s what we do for our tribe." %}
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-sm-12 feature-block" style="background: #f5f5f5;">
                <div class="feature-bg-11">
                    <div class="feature-words-11">
                        <h3>{% trans "How do I Sign up?" %}</h3>
                        <p>
                            {% trans "Just $9.90 SGD (U.P $29.90) for lifetime access, be one of the pioneers in this first ever local collaborative community and start flinting!" %}
                        </p>
                        <p>
                            {% trans "Sign up here today!" %} <a href="/join">Join Us</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divide80"></div>
{% endblock %}
