{% extends "base.html" %}
{% block content %}
<div class="breadcrumb-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h4>Search</h4>
      </div>
      <div class="col-sm-6 hidden-xs text-right">
        <ol class="breadcrumb">
          <li><a href='{% url "home" %}'>Home</a></li>
          <li>Search</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!--breadcrumbs-->
<div class="search-area">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <form action='{% url "search" %}' method="post">
          {% csrf_token %}
          <div class="input-group">
            <input type="text" class="form-control" name="keyword" placeholder="Search here ...">
            <span class="input-group-btn">
              <button class="btn btn-theme-bg btn-lg" type="submit"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container">
  
<div class="divide20"></div>
  <div class="row">
    <div class="col-sm-12">
      <span class="results-number">Search for <span style="color:red;">{{ keyword }}</span>, about {{ r_count }} results found</span>
      {% for r in results %}
      <div class="results-box">
        <h3><a href='{% url "company-detail" r.url %}'>{{ r.name  }}</a></h3>
        <p>{{ r.description }}</p>
      </div>
      <hr>
      {% endfor %} 
    </div>
  </div>
</div>
<div class="divide40"></div>
{% endblock %}
