{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="breadcrumb-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h4>{% trans "SEARCH" %}</h4>
      </div>
      <div class="col-sm-6 hidden-xs text-right">
        <ol class="breadcrumb">
          <li><a href='{% url "home" %}'>{% trans "HOME" %}</a></li>
          <li>{% trans "SEARCH" %}</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!--breadcrumbs-->
<div class="search-area">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <form action='{% url "search" %}' method="post">
          {% csrf_token %}
          <div class="input-group">
            <input type="text" class="form-control" name="keyword" placeholder="{% trans 'Search here ...' %}">
            <span class="input-group-btn">
              <button class="btn btn-theme-bg btn-lg" type="submit"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container">
  
<div class="divide20"></div>
  <div class="row">
    <div class="col-sm-12">
      {% if searched %}
        <span class="results-number">{% trans "Search for" %} <span style="color:red;">{{ keyword }}</span>,
            {% trans "about" %} {{ r_count_company }} {% trans "companies found" %},
            {% trans "about" %} {{ r_count_product }} {% trans "products found" %}
        </span>
      {% endif %}
     </div>
    <div class="col-sm-6">
        <h5><i style="display:inline-block;background-image: url('/static/img/company.png');width: 16px;height: 16px; margin-right:5px;"></i>{% trans "Company" %}</h5>
      {% for r in companies %}
      <div class="results-box">
        <h3><a href='{% url "company-detail" r.url %}'>{{ r.name  }}</a></h3>
        <p>{{ r.description|safe }}</p>
      </div>
      <hr>
      {% endfor %}
    </div>
   <div class="col-sm-6">
    <h5><i style="display:inline-block;background-image: url('/static/img/product.png');width: 16px;height: 16px; margin-right:5px;"></i>{% trans "Product" %}</h5>
      {% for r in products %}
      <div class="results-box">
        <h3><a href='{% url "product-detail" r.id %}'>{{ r.name  }}</a></h3>
        <p>{{ r.description|safe }}</p>
      </div>
      <hr>
      {% endfor %}
    </div>
  </div>
</div>
<div class="divide40"></div>
{% endblock %}
