<div class="fullwidthbanner">
            <div class="tp-banner">
                <ul>
                    <!-- SLIDE -->
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" >
                        <!-- MAIN IMAGE -->
                        <img src="/static/img/slide1.png" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <div class="caption text-center-btm sft"
                             data-x="50"
                             data-y="260"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="easeOutExpo" style="font-size:2em;">
                            A B2B VIDEO PLATFORM
                        </div>

                        <div class="caption title-2 sft"
                             data-x="50"
                             data-y="320"
                             data-speed="1000"
                             data-start="1800"
                             data-easing="easeOutExpo" >
                            TRADE + DEVELOP LOCALLY & GLOBALLY
                        </div>
                     
                    </li>

                    <!-- SLIDE -->
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" >
                        <!-- MAIN IMAGE -->
                        <img src="/static/img/slide3.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <div class="caption text-center-btm sft"
                             data-x="50"
                             data-y="260"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="easeOutExpo" style="font-size:2em;">
                            MARKETING MADE EASY
                        </div>

                        <div class="caption title-2 sft"
                             data-x="50"
                             data-y="320"
                             data-speed="1000"
                             data-start="1800"
                             data-easing="easeOutExpo" >
                            FUSS-FREE HOLISTIC SOLUTION
                        </div>

                    </li>

                    <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" >
                        <!-- MAIN IMAGE -->
                        <img src="/static/img/slide2.png" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <div class="caption text-center-btm sft"
                             data-x="50"
                             data-y="260"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="easeOutExpo" style="font-size:2em;color:black;">
                            DISCOVER AND CONNECT
                        </div>

                        <div class="caption title-2 sft"
                             data-x="50"
                             data-y="320"
                             data-speed="1000"
                             data-start="1800"
                             data-easing="easeOutExpo" style="color:black;">
                            MEET NEW CLIENTS AND SUPPLIERS
                        </div>

                    </li>
                </ul>
            </div>
        </div><!--full width banner-->
<div class="intro-text-1">
    <div class="container">
        <div class="row">
            <div style="float:left; margin-left:20px;">
                <h4>Be seen globally
                </h4>
                <p>
                    Maximise your outreach
                </p>
            </div>
            <div style="float:right; margin-right:20px;">
                <a href="{% url "kick-start" %}" class="btn btn-theme-bg btn-lg">Kickstart Now</a>
            </div>
        </div>
    </div>
</div>
