{% load i18n %}
<div class="fullwidthbanner">
            <div class="tp-banner">
                <ul>
                    <!-- SLIDE -->
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" >
                        <!-- MAIN IMAGE -->
                        <img src="/static/img/slide1.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <div class="caption title-2 sft"
                             data-x="150"
                             data-y="200"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="easeOutExpo" style="font-size:2em;">
                            <b>{% trans "Hustlers’ collaborative community" %}</b>
                        </div>
                    </li>

                    <!-- SLIDE -->
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" >
                        <!-- MAIN IMAGE -->
                        <img src="/static/img/slide2.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <div class="caption title-2 sft"
                             data-x="200"
                             data-y="200"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="easeOutExpo" style="font-size:2em;color: gray;">
                            <b>{% trans "Grow, collaborate, " %}</b> <br>
                            <b>{% trans "learn, differentiate" %}</b>
                        </div>
                    </li>

                    <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" >
                        <!-- MAIN IMAGE -->
                        <img src="/static/img/slide3.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <div class="caption title-2 sft"
                             data-x="200"
                             data-y="200"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="easeOutExpo" style="font-size:2em;">
                            <b>{% trans "Take charge of " %}</b> <br>
                            <b>{% trans " your career" %} </b>
                        </div>

                    </li>
                </ul>
            </div>
        </div><!--full width banner-->
<div class="intro-text-1">
    <div class="container">
        <div class="row">
            <div style="float:left; margin-left:20px; margin-top:20px;">
                <h4>{% trans "Be a Flinter today and enjoy being part of our Collaborative community!" %}
                </h4>
                
            </div>
            <div style="float:right; margin-right:20px;">
                <a href="{% url "kick-start" %}" class="btn btn-theme-bg btn-lg">{% trans "Join Us" %}</a>
            </div>
        </div>
    </div>
</div>
