{% load i18n %}
<div class="fullwidthbanner">
            <div class="tp-banner">
                <ul>
                    <!-- SLIDE -->
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" >
                        <!-- MAIN IMAGE -->
                        <img src="/static/img/slide1.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <div class="caption title-2 sft"
                             data-x="50"
                             data-y="80"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="easeOutExpo" style="font-size:2em;">
                            <b>{% trans "A COLLABORATIVE COMMUNITY FOR ALL KINDS OF CAREER HUSTLERS OUT THERE" %}</b>
                        </div>

                        <div class="caption text-center-btm sft"
                             data-x="50"
                             data-y="150"
                             data-speed="1000"
                             data-start="1800"
                             data-easing="easeOutExpo" style="font-size:2em;" >
                            {% trans "If you are a solopreneur, side hustler, entrepreneur, or is simply a career go-getter, join us!" %}
                        </div>
                     
                    </li>

                    <!-- SLIDE -->
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" >
                        <!-- MAIN IMAGE -->
                        <img src="/static/img/slide2.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <div class="caption text-center-btm sft"
                             data-x="50"
                             data-y="180"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="easeOutExpo" style="font-size:2em;color: gray;">
                            <b>{% trans "GROW YOUR CAREER NETWORK " %}</b> <br> <br>
                            <b>{% trans "COLLABORATE FOR NEW PROJECTS" %}</b>
                        </div>

                        <div class="caption text-center-btm sft"
                             data-x="50"
                             data-y="320"
                             data-speed="1000"
                             data-start="1800"
                             data-easing="easeOutExpo" style="font-size:2em;color: gray;">
                            <b>{% trans "LEARN TOGETHER" %}</b> <br><br>
                            <b>{% trans "DIFFERENTIATE YOUR CAREER" %}</b>
                        </div>

                    </li>

                    <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" >
                        <!-- MAIN IMAGE -->
                        <img src="/static/img/slide3.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        <div class="caption text-center-btm sft"
                             data-x="50"
                             data-y="70"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="easeOutExpo" style="font-size:2em;">
                            <b>{% trans "A FLINTER IS..." %}</b>
                        </div>

                        <div class="caption text-center-btm sft"
                             data-x="50"
                             data-y="120"
                             data-speed="1000"
                             data-start="1800"
                             data-easing="easeOutExpo" >
                            <b>{% trans "Someone who is keen to take charge of their" %} </b> <br>
                            <b>{% trans "career and being driven with ambition, passion" %}</b> <br>
                            <b>{% trans "and motivation to build a Career that they are" %}</b> <br>
                            <b>{% trans "inspired by, every day." %} </b>
                        </div>
                    </li>
                </ul>
            </div>
        </div><!--full width banner-->
<div class="intro-text-1">
    <div class="container">
        <div class="row">
            <div style="float:left; margin-left:20px;">
                <h4>{% trans "Be a Flinter today and enjoy being part of our Collaborative community!" %}
                </h4>
                
            </div>
            <div style="float:right; margin-right:20px;">
                <a href="{% url "kick-start" %}" class="btn btn-theme-bg btn-lg">{% trans "Join Us" %}</a>
            </div>
        </div>
    </div>
</div>
